<form action="/articles/<%=@article.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2>Title: <%=@article.title%></h2>
  <input type="text" name="title">
  <h3>Content: <%=@article.content%></h3>
  <input type="textarea" name="content">
  <input type='submit' value='submit'>
