<h1>Write an article!</h1>

 <form action='/articles' method='POST'>
   <h2>Title:</h2>
   <input type="text" name="title">
   <h3>Content: </h3>
   <input type="textarea" name="content">
   <input type='submit' value='submit'>
  </form>
